/*FUENTE DE TEXTO*/
* {font-family: "Lato", sans-serif;}


/*GENERALES*/
body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}

/*ENCABEZADO*/

.contenedor .header ul li a{
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    background-color: #c3c3c3;
}

.header .top_left {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.header h1 {
    display: flex;
    font-size: 100px;
    margin: 0;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-right: 40px;
    padding: 0;
}

.header ul li {
    font-weight: 700;
    list-style: none;
}

/*TODO EL CONTENIDO PRINCIPAL*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    align-items: center;
    max-width: 60%;
    margin: 15% 0 15% 0;
}

.main h3 {
    text-align: center;
}

.main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    align-items: center;
    max-width: 60%;
    margin: 15% 0 15% 0;
}

.main2 h3 {
    text-align: center;
}

/*PIE DE PAGINA*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    background-color: #c3c3c3;
}